<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tasks.css') }}">
</head>
<body>
    <h1>Tasks:</h1>
    <div class="tasks">
        {%for task in tasksList%}
        <div class="task">
            <input type="checkbox" name="taskName" class="checkboxInput">
            <label for="taskName" class="label">{{task.task}}</label>
            <p>set by: {{task.name}}</p>
            <p>{{task.desc}}</p>
        </div>
        {%endfor%}
    </div>
    <a href="{{ url_for('home') }}">⬅️ add another task</a>
    <script>
        const checkboxes = document.querySelectorAll('.checkboxInput');
        console.log(checkboxes);   
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                if(checkbox.checked) checkbox.closest('.task').style.display = 'none';
            })
        })
    </script>
</body>
</html>